apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-web
  template:
    metadata:
      labels:
        app: simple-web
    spec:
      containers:
      - name: simple-web
        image: naveen2182001/simple-web:latest
        imagePullPolicy: Always 
        ports:
        - containerPort: 3000


apiVersion: v1
kind: Service
metadata:
  name: simple-web-service
spec:
  type: NodePort
  selector:
    app: simple-web
  ports:
  - port: 3000
    targetPort: 3000
